
@{
    ViewBag.Title = "ComponentDemo";
}

<h2>ComponentDemo</h2>

<div ng-app="darraghApp">
    <div ng-controller="componentDemoController as cdVm">
        <counter count="cdVm.count"></counter>
    </div>
</div>

@section pageInitScripts{
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/darragh.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/angular-toastr.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script src="~/Scripts/ng/angular-moment-picker/angular-moment-picker.js"></script>
    <script>
        darragh.moduleOptions.extraModuleDependencies.push('moment-picker');
    </script>
    <script src="~/Scripts/darragh/darragh.module.js"></script>


}

@section scripts{
    <script src="~/Scripts/app/filters/tel.js"></script>
    <script src="~/Scripts/darragh.services.pog.js"></script>

    @*Angular scripts*@
    <script src="~/Scripts/app/pog/pog.service.js"></script>
    <script src="~/Scripts/app/controllers/pog.js"></script>

    <script>
        (function () {

            angular.module(APPNAME, [])
            .controller('componentDemoController', ComponentDemoController);

            function ComponentDemoController() {
                var vm = this;
                vm.count = 4;
            }

            angular.module(APPNAME)
                .component('counter', {
                        bindings: {
                            count: '='
                        },
                        controller: function () {
                            function increment() {
                                this.count++;
                            }
                            function decrement() {
                                this.count--;
                            }
                            this.increment = increment;
                            this.decrement = decrement;
                        },
                        controllerAs: 'ccVm',
                        template: [
                            '<div >',
                            '<input type="text" ng-model="ccVm.count">',
                            '<button type="button" ng-click="ccVm.decrement()">-</button>',
                            '<button type="button" ng-click="ccVm.increment()">+</button>'
                        ].join('')

                }
            );


        })();
    </script>

}

