
@{

}
@section styles{
    <style>
        #pano {
            width: 300px;
            height: 300px;
        }

        #map {
            width: 100%;
            height: 100%;
            min-height: 300px;
        }
    </style>
}


<h1>Google Maps Demo</h1>
<div class="container">
    <h2>Browser Location Service</h2>
    <div class="row">
        <button type="button" class="btn btn-primary" id="cmdGeolocate">Find my Lat/Lng</button>
        <span id="myLocation"></span>
    </div>
    <hr />
    <h2>Geocoding</h2>
    <div class="row">
        <div class="col-md-5">
            <div>
                <div class="form-group">
                    <label for="locationTextBox">Address</label>
                    <input type="text" id="locationTextBox" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary cmdGeocode">Geocode </button>
            <button type="button" class="btn btn-primary cmdRevGeocode">Reverse Geocode </button>
        </div>
        <div class="col-md-5">
            <div>
                <div class="form-group">
                    <label for="latitudeTextBox">Latitude</label>
                    <input type="text" id="latitudeTextBox" class="form-control">
                </div>
                <div class="form-group">
                    <label for="longitudeTextBox">Longitude</label>
                    <input type="text" id="longitudeTextBox" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <pre class="well geocodeResult">

        </pre>
    </div>
    <hr />
    <h2>Dynamic Map</h2>
    <div class="row">
        <div id="map" class="col-md-6">
        </div>
        <div id="pano1" class="col-md-6"></div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/sabio.js"></script>
    <script>

        sabio.page.startUp = function () {
            $('#cmdGeolocate').on('click', sabio.page.geolocate);
            $('.cmdGeocode').on('click', sabio.page.geocode);
            $('.cmdRevGeocode').on('click', sabio.page.reverseGeocode);
        }

        //  sabio.page.locations = [
        //{ title: 'Park Ave Penthouse', location: { lat: 40.7713024, lng: -73.9632393 } },
        //{ title: 'Chelsea Loft', location: { lat: 40.7444883, lng: -73.9949465 } },
        //{ title: 'Union Square Open Floor Plan', location: { lat: 40.7347062, lng: -73.9895759 } },
        //{ title: 'East Village Hip Studio', location: { lat: 40.7281777, lng: -73.984377 } },
        //{ title: 'TriBeCa Artsy Bachelor Pad', location: { lat: 40.7195264, lng: -74.0089934 } },
        //{ title: 'Chinatown Homey Space', location: { lat: 40.7180628, lng: -73.9961237 } }
        //  ];

        sabio.page.locations = [
            { title: 'This is where it all happens!', location: { lat: 33.98825, lng: -118.3848 } },
            { title: 'Trimana', location: { lat: 33.988315, lng: -118.384229 } },
            { title: 'Walter', location: { lat: 33.988240, lng: -118.382996 } },
            { title: 'Food Court', location: { lat: 33.985490, lng: -118.392912 } },
            { title: '24 Hr. Fitness', location: { lat: 33.987937, lng: -118.36682 } }
        ];

        sabio.page.mapStyleNatural = [
{
    "featureType": "administrative",
    "elementType": "geometry.fill",
    "stylers": [
        {
            "visibility": "off"
        }
    ]
},
{
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
        {
            "visibility": "on"
        }
    ]
},
{
    "featureType": "administrative",
    "elementType": "labels.text.fill",
    "stylers": [
        {
            "color": "#495421"
        }
    ]
},
{
    "featureType": "administrative",
    "elementType": "labels.text.stroke",
    "stylers": [
        {
            "visibility": "on"
        },
        {
            "weight": 4.1
        }
    ]
},
{
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [
        {
            "color": "#daebc6"
        },
        {
            "visibility": "on"
        }
    ]
},
{
    "featureType": "landscape.natural.terrain",
    "elementType": "geometry.fill",
    "stylers": [
        {
            "color": "#cae9c2"
        }
    ]
},
{
    "featureType": "poi",
    "elementType": "geometry.fill",
    "stylers": [
        {
            "color": "#769E72"
        }
    ]
},
{
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
        {
            "color": "#7B8758"
        }
    ]
},
{
    "featureType": "poi",
    "elementType": "labels.text.stroke",
    "stylers": [
        {
            "color": "#ffffff"
        }
    ]
},
{
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
        {
            "visibility": "simplified"
        },
        {
            "color": "#89d88f"
        }
    ]
},
{
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [
        {
            "color": "#ff0000"
        }
    ]
},
{
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [
        {
            "color": "#459945"
        }
    ]
},
{
    "featureType": "road",
    "elementType": "labels.text.stroke",
    "stylers": [
        {
            "color": "#ffffff"
        }
    ]
},
{
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
        {
            "visibility": "off"
        }
    ]
},
{
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
        {
            "color": "#ffffff"
        }
    ]
},
{
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
        {
            "color": "#eeeeee"
        }
    ]
},
{
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
        {
            "color": "#d8d8d8"
        }
    ]
},
{
    "featureType": "transit",
    "elementType": "all",
    "stylers": [
        {
            "visibility": "off"
        }
    ]
},
{
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
        {
            "visibility": "on"
        },
        {
            "color": "#d2f0ef"
        }
    ]
}
        ];

        sabio.page.mapStyleUltraLight = [
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e9e9e9"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 29
                    },
                    {
                        "weight": 0.2
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 18
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dedede"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#333333"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                ]
            }
        ];


        sabio.page.map = {};
        function initMap() {
            sabio.page.map = new google.maps.Map($('#map')[0], {
                center: { lat: 33.98825, lng: -118.3848 },
                zoom: 18
                , mapTypeControl: false
                //, styles: sabio.page.mapStyleNatural
            });
            var markers = [];
            var largeInfoWindow = new google.maps.InfoWindow();
            var bounds = new google.maps.LatLngBounds();

            for (var i = 0; i < sabio.page.locations.length; i++) {
                var marker = new google.maps.Marker({
                    position: sabio.page.locations[i].location,
                    title: sabio.page.locations[i].title,
                    id: i,
                    label: String(i + 1),
                    map: sabio.page.map,
                    animation: google.maps.Animation.DROP
                })
                markers.push(marker);
                bounds.extend(marker.position);
                marker.addListener('click', function () {
                    sabio.page.populateInfoWindow(this, largeInfoWindow);
                })
            }
            sabio.page.map.fitBounds(bounds);
        }

        // This function populates the infowindow when the marker is clicked. We'll only allow
        // one infowindow which will open at the marker that is clicked, and populate based
        // on that markers position.
        sabio.page.populateInfoWindowUdemy = function (marker, infowindow) {
            // Check to make sure the infowindow is not already opened on this marker.
            if (infowindow.marker != marker) {
                // Clear the infowindow content to give the streetview time to load.
                infowindow.setContent('');
                infowindow.marker = marker;
                // Make sure the marker property is cleared if the infowindow is closed.
                infowindow.addListener('closeclick', function () {
                    infowindow.marker = null;
                });
                var streetViewService = new google.maps.StreetViewService();
                var radius = 50;
                // In case the status is OK, which means the pano was found, compute the
                // position of the streetview image, then calculate the heading, then get a
                // panorama from that and set the options
                function getStreetView(data, status) {
                    if (status == google.maps.StreetViewStatus.OK) {
                        var nearStreetViewLocation = data.location.latLng;
                        var heading = google.maps.geometry.spherical.computeHeading(
                          nearStreetViewLocation, marker.position);
                        infowindow.setContent('<div>' + marker.title + '</div><div id="pano" style="height: 300"></div>');
                        var panoramaOptions = {
                            position: nearStreetViewLocation,
                            pov: {
                                heading: heading,
                                pitch: 30
                            }
                        };
                        var panorama = new google.maps.StreetViewPanorama(
                          document.getElementById('pano'), panoramaOptions);
                    } else {
                        infowindow.setContent('<div>' + marker.title + '</div>' +
                          '<div>No Street View Found</div>');
                    }
                }
                // Use streetview service to get the closest streetview image within
                // 50 meters of the markers position
                streetViewService.getPanoramaByLocation(marker.position, radius, getStreetView);
                // Open the infowindow on the correct marker.
                infowindow.open(map, marker);
            }
        }

        sabio.page.populateInfoWindow = function (marker, infoWindow) {
            if (infoWindow.marker != marker) {
                infoWindow.setContent('');
                infoWindow.marker = marker;
                //infoWindow.open(map, marker);
                infoWindow.addListener('closeclick', function () {
                    infoWindow.marker = null;
                })
                var streetViewService = new google.maps.StreetViewService();
                var radius = 100; // in meters
                // In case the status is OK, which means the pano was found, compute the
                // position of the streetview image, then calculate the heading, then
                // get a panorama from that and set the options
                function getStreetView(data, status) {
                    if (status == google.maps.StreetViewStatus.OK) {
                        var nearStreetViewLocation = data.location.latLng;
                        var heading = google.maps.geometry.spherical.computeHeading(
                            nearStreetViewLocation, marker.position);
                        infoWindow.setContent('<div>' + marker.title + '</div><div id="pano"></div>');
                        var panoramaOptions = {
                            position: nearStreetViewLocation,
                            pov: {
                                heading: heading,
                                pitch: 30
                            }
                        };
                        var panorama = new google.maps.StreetViewPanorama(
                            document.getElementById('pano'), panoramaOptions);
                        var panorama = new google.maps.StreetViewPanorama(
                            document.getElementById('pano1'), panoramaOptions);
                    }
                    else {
                        infoWindow.setContent('<div>' + marker.title + '</div><div>No StreetView found</div>')
                        $('#pano1').innerHtml('');
                    }
                }
                streetViewService.getPanoramaByLocation(marker.position, radius, getStreetView);
                infoWindow.open(map, marker);
            }
        }

        sabio.page.geolocate = function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        //infoWindow.setPosition(pos);
                        //infoWindow.setContent('Location found.');
                        var msg = 'Lat: ' + position.coords.latitude
                            + ' Lon: ' + position.coords.longitude;
                        $('#myLocation').text(msg);
                        sabio.page.map.setCenter(pos);
                    },
                    function () {
                        alert("Unable to get position");
                        // handleLocationError(true, infoWindow, map.getCenter());
                    });
            } else {
                alert("Geolocation failed");
                // Browser doesn't support Geolocation
                //handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        sabio.page.geocode = function () {
            var address = $('#locationTextBox').val();
            if (address) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: address
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var location = results[0].geometry.location;
                        $('#latitudeTextBox').val(location.lat());
                        $('#longitudeTextBox').val(location.lng());
                        $('.geocodeResult').text(JSON.stringify(results[0], undefined, 2));
                    } else {
                        alert("Could not find location.");
                    }
                })
            }
            else {
                alert("You must enter an address to attempt geocoding");
            }
        }

        sabio.page.reverseGeocode = function () {
            var latitude = $('#latitudeTextBox').val();
            var longitude = $('#longitudeTextBox').val();
            var latlng = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
            if (latlng) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    location: latlng
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $('#locationTextBox').val(results[0].formatted_address);
                        $('.geocodeResult').text(JSON.stringify(results, undefined, 2));
                    } else {
                        alert("Could not find location.");
                    }
                })
            }
            else {
                alert("You must enter lat/lng to attempt reverse geocoding");
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&v=3&key=AIzaSyD7iu5CfoFeysqETwfFNxbBnnwupWKewWU&callback=initMap"
            async defer>

    </script>


}

