<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-ui-select" version="0.19.8" targetFramework="net452" />
  <package id="iOnTech.SimpleJsonTemplate" version="1.0.0.8" targetFramework="net452" />
  <package id="jquery-tmpl.net" version="0.6" targetFramework="net452" />
  <package id="json-serialize" version="1.1.2" targetFramework="net452" />
</packages>