/*
	Script to create the sandbox database used by the project at
	http://github.com/entrotech/sandbox

*/
USE [Sandbox]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PogDetails]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PogDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[PogId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PogDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PogFiles]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PogFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](max) NULL,
	[FileKey] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[PogId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PogFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pogs]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](25) NULL,
	[WhenInstant] [datetime2](7) NULL,
	[WhenLocalDateTime] [datetime2](7) NULL,
	[WhenDateTimeOffset] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.Pogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2bd6ae6c-2894-4b1a-bf21-6bd3c2f5c80a', N'john@sabio.la', 0, N'AML5pVWw/emByW16/kjWs2228i+CWjVZOgk4IGIUnIZsqDpVas0uhTTCY4r4mJlMHw==', N'f9965791-04c9-418a-b0dc-d99789730ee9', NULL, 0, 0, NULL, 1, 0, N'john@sabio.la')
SET IDENTITY_INSERT [dbo].[Pogs] ON 

INSERT [dbo].[Pogs] ([Id], [Name], [Description], [Email], [Phone], [WhenInstant], [WhenLocalDateTime], [WhenDateTimeOffset]) VALUES (1, N'Anderson-Baumbach', N'Sharable explicit frame ubiquitous nonsense allegory intuitive mission-critical', N'rromero0@booking.com', N'51-(709)524-6492', CAST(N'2019-07-19T02:28:32.0000000' AS DateTime2), CAST(N'2020-08-22T04:21:00.0000000' AS DateTime2), CAST(N'2017-08-31T00:06:01.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Pogs] ([Id], [Name], [Description], [Email], [Phone], [WhenInstant], [WhenLocalDateTime], [WhenDateTimeOffset]) VALUES (2, N'Effertz-Hahn', N'Centralized content-based task-force', N'rpierce1@ow.ly', N'380-(763)250-5804', CAST(N'2020-07-17T22:25:33.0000000' AS DateTime2), CAST(N'2019-03-30T07:33:16.0000000' AS DateTime2), CAST(N'2019-07-06T20:16:05.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Pogs] ([Id], [Name], [Description], [Email], [Phone], [WhenInstant], [WhenLocalDateTime], [WhenDateTimeOffset]) VALUES (3, N'Sanford-Goyette', N'Horizontal systemic middleware', N'scruz2@princeton.edu', N'86-(295)672-9068', CAST(N'2019-08-10T12:29:25.0000000' AS DateTime2), CAST(N'2017-10-12T17:59:48.0000000' AS DateTime2), CAST(N'2017-12-19T21:14:11.0000000+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Pogs] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PogId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_PogId] ON [dbo].[PogDetails]
(
	[PogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PogId]    Script Date: 6/13/2017 11:00:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_PogId] ON [dbo].[PogFiles]
(
	[PogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PogDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PogDetails_dbo.Pogs_PogId] FOREIGN KEY([PogId])
REFERENCES [dbo].[Pogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PogDetails] CHECK CONSTRAINT [FK_dbo.PogDetails_dbo.Pogs_PogId]
GO
ALTER TABLE [dbo].[PogFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PogFiles_dbo.Pogs_PogId] FOREIGN KEY([PogId])
REFERENCES [dbo].[Pogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PogFiles] CHECK CONSTRAINT [FK_dbo.PogFiles_dbo.Pogs_PogId]
GO
/****** Object:  StoredProcedure [dbo].[PogFiles_Delete]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_Delete] 
	@Id int
AS
BEGIN
/*

	EXEC dbo.PogFiles_Delete <args> 

*/


	DELETE PogFiles
	WHERE 
		Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[PogFiles_Insert]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_Insert] 
	@PogId int
	, @FileKey nvarchar(250)
	, @Caption nvarchar(100)
	, @Id int output
AS
BEGIN
/*

	DECLARE @PogId int = <value>
	DECLARE @FileKey nvarchar(250) = <value>
	DECLARE @Caption nvarchar(100) = <value>
	DECLARE @Id int

	EXEC dbo.PogFiles_Insert 
		@PogId
		, @FileKey
		, @Caption
		, @Id = @Id output

*/

	INSERT PogFiles
	(
		PogId
		, FileKey
		, Caption
	)
	VALUES 
	(
		@PogId
		, @FileKey
		, @Caption
	)

	SET @Id = SCOPE_IDENTITY() 
END

GO
/****** Object:  StoredProcedure [dbo].[PogFiles_SelectAll]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_SelectAll] 
AS
BEGIN

/*

	EXEC dbo.PogFiles_SelectAll 

*/

	SELECT 
		Id
		, PogId
		, FileKey
		, Caption
	FROM PogFiles

END

GO
/****** Object:  StoredProcedure [dbo].[PogFiles_SelectById]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_SelectById] 
	@Id int
AS
BEGIN
/*

	EXEC dbo.PogFiles_SelectById <args> 

*/


	SELECT 
		Id
		, PogId
		, FileKey
		, Caption
	FROM PogFiles
	WHERE 
		Id = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[PogFiles_SelectByPogId]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_SelectByPogId]
	@PogId int
AS
BEGIN

/*

	EXEC dbo.PogFiles_SelectByPogId 2

*/

	SELECT 
		Id
		, PogId
		, FileKey
		, Caption
	FROM PogFiles
	WHERE PogId = @PogId

END

GO
/****** Object:  StoredProcedure [dbo].[PogFiles_Update]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PogFiles_Update] 
	@Id int
	, @PogId int
	, @FileKey nvarchar(250)
	, @Caption nvarchar(100)
AS
BEGIN
/*

	DECLARE @PogId int = <value>
	DECLARE @FileKey nvarchar(250) = <value>
	DECLARE @Caption nvarchar(100) = <value>
	DECLARE @Id int

	EXEC dbo.PogFiles_Update 
		@PogId
		, @FileKey
		, @Caption
		, @Id 

*/

	UPDATE PogFiles SET 
		PogId = @PogId
		, FileKey = @FileKey
		, Caption = @Caption
	WHERE 
		Id = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_Delete]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_Delete] 
	@Id int
AS
BEGIN
/*

	EXEC dbo.Pogs_Delete 7 

*/


	DELETE Pogs
	WHERE 
		Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_Insert]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_Insert] 
	@Name nvarchar(100)
	, @Description nvarchar(500) = null
	, @Email nvarchar(200) = null
	, @Phone varchar(20) = null
	, @WhenInstant datetime2(7) = null
	, @WhenLocalDateTime datetime2(7) = null
	, @WhenDateTimeOffset datetimeoffset(7) = null
	, @Id int output
AS
BEGIN
/*

	DECLARE @Name nvarchar(100) = 'Veridian Dynamics'
	DECLARE @Description nvarchar(500) = 'Making war more fun.'
	DECLARE @Email nvarchar(200) = 'veronica@veridian.com'
	DECLARE @Phone varchar(20) = '(213) 784-9830'
	DECLARE @WhenInstant datetime2(7) = '1958-11-18 08:47:00.000'
	DECLARE @WhenLocalDateTime datetime2(7) = '2017-03-03 17:54'
	DECLARE @WhenDateTimeOffset datetimeoffset(7) = '2019-11-06 10:09:45.0000000 +00:00'
	DECLARE @Id int

	EXEC dbo.Pogs_Insert 
		@Name
		, @Description
		, @Email
		, @Phone
		, @WhenInstant
		, @WhenLocalDateTime
		, @WhenDateTimeOffset
		, @Id = @Id output

*/

	INSERT Pogs
	(
		Name
		, Description
		, Email
		, Phone
		, WhenInstant
		, WhenLocalDateTime
		, WhenDateTimeOffset
	)
	VALUES 
	(
		@Name
		, @Description
		, @Email
		, @Phone
		, @WhenInstant
		, @WhenLocalDateTime
		, @WhenDateTimeOffset
	)

	SET @Id = SCOPE_IDENTITY() 
END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_Search]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_Search] 
	@name nvarchar(100) = '',
	@fromInstant datetime2(7) = null,
	@toInstant datetime2(7) = null,
	@itemsPerPage int = 12,
	@currentPage int = 1
AS
BEGIN

/*
	EXEC dbo.Pogs_Search 
		@name = 'b',
		@currentPage = 2,
		@itemsPerPage = 16

	EXEC dbo.Pogs_Search 
		@name = '',
		@currentPage = 2,
		@itemsPerPage = 100

	EXEC dbo.Pogs_Search 
		@name = 'a',
		@fromInstant = '1/1/2019',
		@toInstant = '1/1/2020',
		@currentPage = 1,
		@itemsPerPage = 100

*/

	SELECT 
		Id
		, Name
		, Description
		, Email
		, Phone
		, WhenInstant
		, WhenLocalDateTime
		, WhenDateTimeOffset
		, COUNT (*) OVER () TotalRows
	FROM Pogs p
	WHERE	
		p.Name like '%' + @name + '%'
		AND (@fromInstant is null OR WhenInstant >= @fromInstant)
		AND (@toInstant is null OR WhenInstant < @toInstant)
	ORDER BY Name
	OFFSET (@currentPage - 1) * @itemsPerPage ROWS
	FETCH NEXT @itemsPerPage ROWS ONLY


END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_SelectAll]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_SelectAll] 
AS
BEGIN

/*

	EXEC dbo.Pogs_SelectAll 

*/

	SELECT 
		p.Id
		, p.Name
		, p.Description
		, p.Email
		, p.Phone
		, p.WhenInstant
		, p.WhenLocalDateTime
		, p.WhenDateTimeOffset
		, COUNT(*) OVER () TotalRows
	FROM Pogs p
	ORDER BY Name

	EXEC PogFiles_SelectAll

END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_SelectById]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_SelectById] 
	@Id int
AS
BEGIN
/*

	EXEC dbo.Pogs_SelectById 1 

*/


	SELECT 
		Id
		, Name
		, Description
		, Email
		, Phone
		, WhenInstant
		, WhenLocalDateTime
		, WhenDateTimeOffset
		, COUNT(*) OVER () TotalRows
	FROM Pogs
	WHERE 
		Id = @Id

	EXEC PogFiles_SelectByPogId @Id


END

GO
/****** Object:  StoredProcedure [dbo].[Pogs_Update]    Script Date: 6/13/2017 11:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Pogs_Update] 
	@Id int
	, @Name nvarchar(100)
	, @Description nvarchar(500) = null
	, @Email nvarchar(200) = null
	, @Phone varchar(20) = null
	, @WhenInstant datetime2(7) = null
	, @WhenLocalDateTime datetime2(7) = null
	, @WhenDateTimeOffset datetimeoffset(7) = null
AS
BEGIN
/*

	DECLARE @Name nvarchar(100) = 'Stark Enterprises'
	DECLARE @Description nvarchar(500) = 'War is always profitable'
	DECLARE @Email nvarchar(200) = 'tony@stark.com'
	DECLARE @Phone varchar(20) = '(714) 674-9735'
	DECLARE @WhenInstant datetime2(7) = '1965-04-01'
	DECLARE @WhenLocalDateTime datetime2(7) = '2017-02-02 16:43'
	DECLARE @WhenDateTimeOffset datetimeoffset(7) = '3/4/2017 5:00 PM'
	DECLARE @Id int = 1

	EXEC dbo.Pogs_Update 
		@Name
		, @Description
		, @Email
		, @Phone
		, @WhenInstant
		, @WhenLocalDateTime
		, @WhenDateTimeOffset
		, @Id 

*/

	UPDATE Pogs SET 
		Name = @Name
		, Description = @Description
		, Email = @Email
		, Phone = @Phone
		, WhenInstant = @WhenInstant
		, WhenLocalDateTime = @WhenLocalDateTime
		, WhenDateTimeOffset = @WhenDateTimeOffset
	WHERE 
		Id = @Id

END

GO
USE [master]
GO
