@model IEnumerable<Sandbox.Web.Domain.Pog>

@{
    ViewBag.Title = "Pogs Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pogs</h2>
@foreach (Sandbox.Web.Domain.Pog pog in Model)
{
    <div>
        @{ string link = "/pogs/" + pog.Id + "/edit";}
        <a href='@link' >
            @pog.Name
        </a>
    </div>
}

