
@{
    ViewBag.Title = "BasicDivs";
}

<style>
    .centeredDiv {
        width: 100px;
        height: 100px;
        background-color: red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>

<h2>Basic Divs</h2>


<div style="width: 100%; text-align: center;">
    <h5>Horizontal Centering of a Div</h5>
    <div style="background: blue; height: 30px; width: 50px; display: inline-block;"></div>
</div>

<div ">
    <h5>Horizontal Centering of a Div</h5>
    <div style="background: purple; height: 30px; width: 50px; margin: 0 auto"></div>
</div>

<div style="background: yellow;
height: 300px; width: 300px; text-align: center;">
    <div style="border: 1px solid red; height: 50px; width: 50px; display: inline-block; vertical-align: middle;"></div>

</div>
<div class="centeredDiv">
</div>

